.button1{
    position:absolute;
    right:5%;
    bottom:5%;
    background-color: rgb(134, 172, 234);
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 2px rgb(241, 244, 243);
}
.l1{
    width:50%
}
.add-card-btn
{
    float:right;
}
.mainbutton{
    position:absolute;
    right:5%;
    bottom:5%;
    float :right;
    background-color: rgb(134, 172, 234);
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 2px rgb(241, 244, 243);
}