.lead1{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-shadow: 5px 5px 5px rgb(249, 246, 249);
}
.lead2
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:25px;
    font-weight: bold;
    color: rgb(235, 240, 240);
}
.image1
{
    border: 2px solid rgb(246, 240, 240);
    border-radius: 50px 20px;
}