@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400&display=swap');



body {
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://wallpapertag.com/wallpaper/full/9/5/4/117454-amazing-aesthetic-backgrounds-1920x1200-for-full-hd.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



